*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    
}

body{
    background-color:#0d131f ;
}

.weatherInput{
    text-align: center;
    align-items: center;
    text-align: center;
}


.weatherInput input{
    width: 60%;
    background-color: #24314d;
    height: 46px;
    outline: none;
    padding: 0 15px;
    margin-top: 50px;
    font-size: 1.07rem;
    border-radius: 7px;
    border: 1px solid white;
    color: white;
}

.weatherInput  button{
    margin: 5px 10px 20px 10px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    color: white;
    background-color:#24314d ;
    border: none;
    border-radius: 4px;

}

.left {
    width: 450px;
    background-color: #1e2a38;
    color: white;
    padding: 20px;
    margin: 0 50px 50px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    height: 350px;
    flex-shrink: 0;
}

.left h4{
    margin-top: 12px;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
}

.details span {
    font-size: 30px;
}

.icon img {
    max-width: 120px;
    margin: 90px 25px 0 25px;
}

.weatherData {
    
    background-color: #1e2a38;
    color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    width: 500px;
    margin: auto;
}




.daysForecast h2 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ffffff20;
}


.weatherCards {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
}


.card {
    display: table-row;
    
    border-radius: 0;
    text-align: center;
    margin-bottom: 0;
    border-bottom: 1px solid #ffffff20;
}


.card > * {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 5px;
    font-size: 14px;
}

.card img {
    width: 40px;
    height: 40px;
}



.weatherCards::before > * {
    display: table-cell;
    padding: 10px 5px;
}


.card.header {
    font-weight: bold;
    background-color: #1e2a38;
    color: #aaa;
}

.card.header h3,
.card.header h4 {
    font-size: 13px;
    padding: 10px 5px;
    margin: 0;
}